<div class="page">
    <div class="header">
        <div id="stats">
            <div game-stats></div>
            <a ng-click="vm.showHistory()">Show your scores...</a>
        </div>

    </div>
    <div class="gameTable" id="gameTable">
        <div id="dealerContainer" class="boardRow">
            <div id="dealerScore" class="score">
                <div ng-show="!vm.gameState.dealerTurn">
                    ?
                </div>
                <div ng-show="vm.gameState.dealerTurn">
                    {{ vm.gameState.dealerPoints }}
                </div>
            </div>
            <div ng-show="!vm.gameState.dealerTurn">
                <div game-cards cards="[vm.gameState.dealerCards[0]]"></div>
                <div class="card blank"></div>
            </div>
            <div ng-show="vm.gameState.dealerTurn">
                <div game-cards cards="vm.gameState.dealerCards"></div>
            </div>
        </div>
        <div id="playerContainer" class="boardRow">
            <div id="playerScore" class="score">
                {{ vm.gameState.playerPoints }}
            </div>
            <div game-cards cards="vm.gameState.playerCards"></div>
        </div>
        <div ng-if="!vm.gameState.gameIsEnded && !vm.gameState.isFirstGame">
            <div title="Deal a new card" class="twistbutton button">
                <input type="submit" value="twist..." ng-click="vm.twist()"/></div>
            <div title="Stay with your current cards" class="stickbutton button">
                <input type="submit" value="stick!" ng-click="vm.stick()"/></div>
        </div>
    </div>
    <p class="copy">© 2010 dotDigitalGroup.</p>
</div>

<div class="mainBar" ng-show="vm.gameState.gameIsEnded || vm.gameState.isFirstGame">
    <div class="messageBanner">
        <div class="message">
            <div ng-if="vm.gameState.playerWon">You won!</div>
            <div ng-if="vm.gameState.playerLost">You lost!</div>
            <div ng-if="vm.gameState.playerDrew">You drew!</div>
            <div ng-if="vm.gameState.isFirstGame">Welcome to Blackjack.</div>
            <small>Click 'Play' to start...</small>
        </div>
        <div class="bannerLinks">
            <a ng-click="vm.showHistory()">Show your scores...</a>
            <a ng-click="vm.reset()">Reset this game!</a>
        </div>
        <div class="playButton">
            <input type="image" value="twist..." ng-click="vm.play()" src="/assets/images/play.png" class="playButton"/>
        </div>
    </div>
</div>

<div game-history is-show-history="vm.isShowHistory"></div>

